*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER section */
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
     right: 0;
    left: 0;
    z-index: 999;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 15px;
}
.header-left img{
    width: 150px;
    height: 40px;
}
.header-left img:hover{
    cursor: pointer;
}
.header-left h3{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.3px;
}
.header-left span{
    display: inline-block;
    transform: rotate(90deg);
}
.header-left h3:hover{
    color: #0040d4;
    cursor: pointer;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}
.header-right div{
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.117);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.header-right div:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.255);
}
.header-right img{
    width: 20px;
    height: 20px;
}
.header-right button{
    background-color: #0040d4;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.header-right button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.117);
    color: rgba(128, 128, 128, 0.845);
}

/* work in progress slider section */
.slider{
    margin: auto;
    max-width: 1200px;
    height: 130px;
    overflow: hidden;
    display: flex;
    margin-bottom: 25px;
}
.slider:hover{
    cursor: pointer;
}
.slider img{
    width: 100%;
}
.lemonade{
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    max-width: 1200px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
}
.lemonade:hover{
    cursor: pointer;
}
.lemonTag{
    background-color: rgb(255, 217, 0);
    padding: 14px;
    font-size: 10px;
    opacity: 1;
    animation-name: fadeOutOpacity;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
@keyframes fadeOutOpacity {
    100% {
		opacity: 1;
	}
    50% {
        opacity: 0.4;
    }
}

/* HEADLINE section */
.mediaSection{
    margin: auto;
    margin-top: 30px;
    max-width: 1200px;
    display: flex;
    gap: 20px;
}
.headline{
    width: 790px;
    height: 580px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}
.headlineImg{
    width: 790px;
    height: 470px;
    overflow: hidden;
}
.headlineImg img{
    width: 100%;
}
.headlineText{
    margin-top: 15px;
    margin-left: 15px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.headlineText h5{
    color: #0040d4;
}
.headlineText p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

/* SCROLL and BARTENDER section */
.scrollMedia{
    width: 790px;
    display: flex;
    gap: 20px;
}
.scrollNews{
    background-color: black;
    color: white;
    width: 385px;
    height: 580px;
    border-radius: 8px;
    overflow: hidden;
}
.scrollNews h4{
    margin-left: 15px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 40px;
    padding-top: 10px;
}
.newsContainer{
    color: white;
    display: flex;
    flex-direction: column;
}
.miniNews{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 90%;
    border-top: 1px solid rgba(122, 122, 122, 0.644);
    padding-bottom: 15px;
    padding-top: 15px;
}
.miniNews:hover{
    cursor: pointer;
}
.miniNews p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    letter-spacing: 0.3px;
}
.miniNews h5{
    font-size: 15px;
    letter-spacing: 0.3px;
}
.newsContainer::-webkit-scrollbar{
    width: 4px;
}
.newsContainer::-webkit-scrollbar-thumb{
    background: rgb(255, 217, 0);
    border-radius: 10px;
}
.bartender{
    width: 385px;
    height: 580px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: filter 0.3s linear;
}
.bartender:hover{
    cursor: pointer;
    filter: brightness(80%);
}
.bartender img{
    width: 100%;
}
.bartender div{
    width: 300px;
    position: absolute;
    bottom: 30px;
    left: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 0.3px;
}

/* SIDE NEWS section */
.sideMedia{
    width: 390px;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sideBlock{
    width: 390px;
    height: 580px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 8px;
    overflow: hidden;
}
.sideImg{
    width: 100%;
    height: 190px;
    overflow: hidden;
    transition: filter 0.3s linear;
}
.sideImg:hover{
    cursor: pointer;
    filter: brightness(80%);
}
.sideImg img{
    width: 100%;
} 
.sideTexts{
    background-color: ghostwhite;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.sideText{
    margin: auto;
    width: 90%;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    padding-top: 25px;
    padding-bottom: 27px;
    transition: opacity 0.2s linear;
}
.sideText:hover{
    cursor: pointer;
    opacity: 0.7;
}
.sideText h6{
    color: #0040d4;
    margin-bottom: 10px;
}
.sideText h4{
    margin-bottom: 10px;
}
.sideText p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

/* LIST AND STICKY IMGS section */
.listContainer{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.list{
    width: 800px;
    height: 200px;
    display: flex;
    margin-bottom: 30px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 8px;
    overflow: hidden;
}
.listImg{
    width: 300px;
    height: 200px;
    overflow: hidden;
    transition: filter 0.2s linear;
}
.list:hover{
    cursor: pointer;
    .listText{
        opacity: 0.7;
    }
    .listImg{
        filter: brightness(80%);
    }
}
.listImg img{
    width: 100%;
    height: 100%;
}
.listText{
    width: 450px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 0.3px;
    transition: opacity 0.2s linear;
}
.listText h6{
    color: #0040d4;
    font-size: 12px;
}
.listText p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}
.ad{
    width: 780px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 30px;
}
.ad img{
    width: 100%;
}
.additional{
    width: 780px;
    height: 40px;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.additional:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 255);
}
.path{
    width: 380px;
    height: auto;
    position: relative;
}
.absImgs{
    position: sticky;
    top: 90px;
}
.absImg1{
    width: 380px;
    height: 280px;
    overflow: hidden;
}
.absImg1:hover{
    cursor: pointer;
}
.absImg1 img{
    width: 100%;
}
.absImg2{
    width: 380px;
    height: 500px;
    overflow: hidden;
}
.absImg2:hover{
    cursor: pointer;
}
.absImg2 img{
    width: 100%;
}

/* CARDS section */
.cardsBody{
    max-width: 1200px;
    margin: auto;
}
.cardsGenre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.cardsGenre p{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.line{
    width: 900px;
    height: 5px;
    border-top: 1px dotted rgba(0, 0, 0, 0.4);
}
.cardMedias{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.cardMedia{
    width: 380px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    overflow: hidden;
}
.cardMedia:hover{
    cursor: pointer;
    .mediaImg{
        filter: brightness(80%);
    }
    .mediaText{
        opacity: 0.7;
    }
}
.mediaImg{
    width: 380px;
    height: 210px;
    overflow: hidden;
    transition: filter 0.2s linear;
}
.mediaImg img{
    width: 100%;
    height: 100%;
}
.mediaText{
    width: 340px;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 0.2s linear;
}
.mediaText h6{
    color: #0040d4;
    font-size: 12px;
}
.mediaText h4{
    font-size: 16px;
}
.mediaText p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}
